#service {
	border-bottom: 2px solid #ff7531;
	margin-bottom: 25px;
}

body{
   width: 1366px;
}

#FAQDiv{
   height: auto;
   text-align: center;
   margin-top: 70px;
}

.FAQHead{
   color: #5e64b1;
   margin-bottom: 40px;
   font-size: 40px;
   font-weight: bolder;
   text-decoration: none;
}

#FAQWriteBtn{
   background-color: #5e64b1;
   color: white;
   border-radius: 5px;
   font-size: 18px;
   text-align: left;
   margin-left: 850px;
   margin-bottom: 10px;
   border: none;
}

thead>tr>th{
   border-bottom: 1px solid #e6e8eb;
   padding: 10px 7px;
}

tbody>tr>td{
   padding: 10px 7px;
   border-bottom: 1px solid #e6e8eb;
}

#FAQTitleTh{
	width:60%;
}

.innerContent{
   color: #ff7531;   
}

.innerContent:hover{
   cursor: pointer;
   text-decoration: underline;
}

.FAQListTbl{
	width:80%;
	border-top:2px solid black;
	border-bottom:2px solid black;
	position:relative;
	left:10%;
}
