section{
    position: relative;
    
}
ol, ul {
     list-style: none;
     
 }
 a{
 	text-decoration: none;
 }
#storeSubMenu{position:relative;}
  
 #storeSubMenu a{
 	color:black;
 }
 #storeSubMenu>ul>li{
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}
div#storeSubMenu:after{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #efefef;
    content: "";
}
div#storeSubMenu>ul>li>a{
    font-weight: lighter;
}
div#storeSubMenu>ul>li>a>span{
	display: block;
    position: relative;
    padding-bottom: 20px;
}
div#storeSubMenu>ul>li>a>span:after{
  position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 3px;
    background-color: #333;
    content: "";
}
select{
	border-radius: 0;
    border: none;
    font-size: 14px;
    height: 36px;
    margin-left: 5px;
    outline: none;
}
#primaryContent select{
	position:relative;
	float:right;
	margin-right:10px;
	margin-bottom:20px;
	
}
.apprBtn_{height:25px;background-color:white;color:black;outline:none;border: black solid 1px;}