.interior{
    position: relative;
    float: left;
    width: 400px;
    height: 300px;
    list-style: none;
}

#imgBox{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1683px;
    left: -317px;
    overflow: hidden;
    transition: 1s;
}

#imgBox li{
	width: 500%;
	height: 100%;
}

#imgBox ol{
	padding: 0;
	margin: 0;
}

.imgBoxCover{
    z-index: 0;
}

#store{
	position: relative;
    /* border: solid 2px blue; */
    margin-left: 135px;
    width: 1066px;
    height: auto;
    padding: 15px;
    border: solid 1px #dbdbdb;
    display: inline-block;
    margin-bottom: 60px;
}

#next{
    position: absolute;
    top: 210px;
    left: 1326px;
    cursor: pointer;
    z-index: 2;
}
#back{
    position: absolute;
    top: 210px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}

#slideCoverLeft{
    position: relative;
    width: 87px;
    height: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
}
#slideCoverRight{
    position: relative;
    width: 87px;
    height: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#storeInfo{
    position: relative;
    height: auto;
    width: 1005px;
    margin: 0 15px 0 15px;
    top: -70px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    padding: 15px;
    display: inline-block;
}
#storeInfoBasic{
    position: relative;
    float: left;
    width: 490px;
    margin: 15px 5px 0 0;
    display: inline-block;
}
#storeInfoMap{
    position: relative;
    float: right;
    width: 490px;
    margin: 15px 0 0 20px;
    display: inline-block;
}

.storeMargin{
    padding-left: 10px;
	padding-bottom: 5px;
}
.storeMargin>p{
	margin:0;
}

#comment{
	display: inline-block;
	position: relative;
	top: -15px;
	margin: 0;
	padding: 0;
	border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    /* 이거 왜 이러는지 모르겠음 */
	padding: 15px;
	margin-left: 15px;
    width: 1005px;
}


#storeTitle{
    font-size: 30px;
    font-weight: bold;
    color:#5e64b1;
    margin:0;
    padding:30px;
    padding-right: 5px;
    display: inline-block;
}

#storeTitleBox {
    border-bottom: solid 1px #dbdbdb;
    cursor: pointer;
}

.storeInfoBasicMajor{
    font-weight: bold;
    color: #5e64b1;
    font-size: 16px;
}
.storeInfoBasicMinor{
    font-size: 16px;
    margin-left: 10px;
}

#storeInfoMap img{
	margin-top: 10px;
    width: 480px;
    height: 300px;
}

#storeInfoBasic div{
	display: inline-block;
	margin-top: 10px;
	width: 490px;
}
#storeInfoBasic p {
	margin:0;
	width:auto;
}
#storeInfoMap div{
	position: relative;
	display: inline-block;
	margin-top: 10px;
}
#storeInfoMap p {
	margin:0;
}

#commentInput{
    width: 890px;
    height: 60px;
    resize: none;
}
#commentBtn{
	position: relative;
	top: -2px;
	width: 100px;
	height: 65px;
	margin:0;
	padding: 0;
	border: 0;
	background-color: #5e64b1;
	color: white;
	font-size: 18px;
}
#comment table td{
	border: 0;
	padding: 0;
	margin: 0;
}
#refresh{
    position: relative;
	top: -2px;
	width: 100px;
	height: 20px;
	margin:0;
	padding: 0;
	border: solid 1px #ff7531;
	background-color: white;
	font-size: 13px;
	
}
#comment table tr th{
	text-align:left;
}

/* 댓글 */
.commentDiv{
    position: relative;
    width: 1000px;
    border-top: solid 1px lightsteelblue;
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.commentDiv table{
    position: relative;
    width: 1000px;
}
.userDate{
    position: relative;
    float: right;
}
.storeDate{
    position: relative;
    float: right;
}
.storeTable{
	padding-right:15px;
    margin-left: 15px;
}
.storeTable th{
    color: #5e64b1;
}
.storeTextarea{
    width: 900px;
    height: 40px;
}
.storeBtn{
	position:relative;
    width: 90px;
    height: 48px;
    top: -2px;
    cursor: pointer;
}
.storeRe{
    margin: 0;
    padding: 0;
    background-color: #5e64b1;
    width: 5px;
    height: auto;
    cursor: pointer;
}

.tdTwo{
    width: 10px;
    margin-right: 5px;
}


#favorite{
	position: relative;
    width: 30px;
    top:3px;
    cursor: pointer;
    z-index: 10;
}

#viewSeatBtn{
    position: absolute;
    height: 40px;
    width: 500px;
    left: 15px;
    bottom: 18px;
    font-size: 20px;
    border: solid 2px #5e64b1;
    background-color: lightsteelblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* 자리보기 */

#viewSeat{
	display: none;
	position: relative;
	top: -43px;
	margin: 0;
	padding: 0;
	border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    /* 이거 왜 이러는지 모르겠음 */
	padding: 15px;
	margin-left: 15px;
    width: 1005px;
    overflow: auto;
}

#viewSeat td p {
    padding: 0;
    margin: 5px;
}

#viewSeat td {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
}

#seatInfoText{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: block;
}

.fullSeat {
    border: solid 1px #ff7531;
}

.emptySeat {
    border: solid 1px #5e64b1;
}
#viewSeat button {
    padding: 0;
    padding: 5px;
    border: 0;
    background-color: #5e64b1;
    color: white;
}

/* 즐겨찾기 */
#clickNone{
    display: inline-block;
}