.interior{
    position: relative;
    float: left;
    width: 400px;
    height: 300px;
    list-style: none;
}

#imgBox{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1683px;
    left: -317px;
    overflow: hidden;
    transition: 1s;
}

#imgBox li{
	width: 500%;
	height: 100%;
}

#imgBox ol{
	padding: 0;
	margin: 0;
}

.imgBoxCover{
    z-index: 0;
}

#store{
	position: relative;
    /* border: solid 2px blue; */
    margin-left: 135px;
    width: 1066px;
    height: auto;
    padding: 15px;
    border: solid 1px #dbdbdb;
    display: inline-block;
    margin-bottom: 60px;
}

#next{
    position: absolute;
    top: 210px;
    left: 1326px;
    cursor: pointer;
    z-index: 2;
}
#back{
    position: absolute;
    top: 210px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}

#slideCoverLeft{
    position: relative;
    width: 87px;
    height: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
}
#slideCoverRight{
    position: relative;
    width: 87px;
    height: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#storeInfo{
    position: relative;
    height: auto;
    width: 1005px;
    margin: 0 15px 0 15px;
    top: -70px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    padding: 15px;
    display: inline-block;
}
#storeInfoBasic{
    position: relative;
    float: left;
    width: 490px;
    margin: 15px 5px 0 0;
    display: inline-block;
}
#storeInfoMap{
    position: relative;
    float: right;
    width: 490px;
    margin: 15px 0 0 20px;
    display: inline-block;
}

.storeMargin{
    padding-left: 10px;
	padding-bottom: 5px;
}
.storeMargin>p{
	margin:0;
}

#comment{
	display: inline-block;
	position: relative;
	top: -15px;
	margin: 0;
	padding: 0;
	border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    /* 이거 왜 이러는지 모르겠음 */
	padding: 15px;
	margin-left: 15px;
    width: 1005px;
}


#storeTitle{
    font-size: 30px;
    font-weight: bold;
    color:#5e64b1;
    margin:0;
    padding:30px;
    padding-right: 5px;
    display: inline-block;
    cursor: pointer;
}

#storeTitleBox {
    border-bottom: solid 1px #dbdbdb;
}

.storeInfoBasicMajor{
    font-weight: bold;
    color: #5e64b1;
    font-size: 16px;
}
.storeInfoBasicMinor{
    font-size: 16px;
    margin-left: 10px;
}

#storeInfoMap img{
	margin-top: 10px;
    width: 480px;
    height: 300px;
}

#storeInfoBasic div{
	display: inline-block;
	margin-top: 10px;
	width: 490px;
}
#storeInfoBasic p {
	margin:0;
	width:auto;
}
#storeInfoMap div{
	position: relative;
	display: inline-block;
	margin-top: 10px;
}
#storeInfoMap p {
	margin:0;
}




#favorite{
	position: relative;
    width: 30px;
    top:3px;
    cursor: pointer;
    z-index: 3;
}

#viewSeatBtn{
    position: absolute;
    height: 40px;
    width: 500px;
    left: 15px;
    bottom: 18px;
    font-size: 20px;
    border: solid 2px #5e64b1;
    background-color: lightsteelblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* 자리보기 */

#viewSeat{
	display: none;
	position: relative;
	top: -43px;
	margin: 0;
	padding: 0;
	border: solid 1px #dbdbdb;
    border-top: solid 6px #5e64b1;
    /* 이거 왜 이러는지 모르겠음 */
	padding: 15px;
	margin-left: 15px;
    width: 1005px;
    overflow: auto;
}

#viewSeat td p {
    padding: 0;
    margin: 5px;
}

#viewSeat td {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
}

#seatInfoText{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: block;
}

.fullSeat {
    border: solid 1px #ff7531;
    color: #ff7531;
    font-weight: bold;
}

.emptySeat {
    border: solid 1px #5e64b1;
}
.emptySeat button {
    padding: 0;
    padding: 5px;
    border: 0;
    background-color: #5e64b1;
    color: white;
    cursor: pointer;
    z-index: 1;
}

/* 즐겨찾기 */
#clickNone{
    display: inline-block;
}


/* 예약창 */
#reservation{
	position: absolute;
    display: none;
    width: 1000px;
    height: 310px;
    right: 47px;
    top: -200px;
    z-index: 5;
    background-color: white;
    border: solid 1px black;
}

#underLine{
	position: relative;
	display: inline-block;
	width:980px;
	border-bottom: solid 1px lightsteelblue;
	top:40px;
	margin: 10px;
}

#storeReInfo{
	position: absolute;
	float: left;
	left: 30px;
	font-size: 15px;
}

#userInfo{
	position: absolute;
	float: right;
	right: 30px;
	font-size: 15px;
}

#reView{
	position:relative;
	margin:0;
	top:60px;
}

#reView span{
	margin:0 10px 0 10px;
	font-size:20px;
	padding: 10px;
	border: solid 1px; black;
}

.reStep {
	position: relative;
	top:60px;
	margin: 0 10px 10px 10px;
	padding: 0;
	border: solid 1px lightgray;
	
}

.reStepTitle {
	position: relative;
	font-size:20px;
	background-color: lightsteelblue;
	padding: 5px;
	margin: 0 0 0 0;
}

.reStepContent{
	padding: 10px;
}

#reBtns{
	position: absolute;
    bottom: 10px;
	right: 10px;
}

#reBtns button{
	width:130px;
	height: 40px;
	font-size: 15px;
    outline: none;
    border:0;
    cursor:pointer;
}

#reOk{
	background-color: #5e64b1;
	color: white;
}

#reCan{
	background-color: #ff7531;
	color: white;
}

#reStepMini{
	font-size:10px;
	color:rgb(80,80,80);
}

#reStep2{
	display: none;
}

#reStep2 p {
	position:relative;
	font-size: 15px;
}

#viewSeat2{
    display: block;
    position: relative;
    /* top: -43px; */
    margin: 10px;
    padding: 0;
    border: solid 1px #dbdbdb;
    border-top: solid 6px lightsteelblue;
    padding: 15px;
    /* margin-left: 15px; */
    width: 928px;
    overflow: auto;
}

#viewSeat2 td p {
    padding: 0;
    margin: 5px;
}

#viewSeat2 td {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
}

#reTitleSeat{
	position: relative;
	color:#5e64b1;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

.reSeat{
	border: solid 1px lightgray;
	background-color: lightgray;
}

.selectSeat {
	background-color: #ff7531;
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

#stepImg {
	position: relative;
	width:500px;
	top:-15px;
}
