section#mypageMainSection{
	margin-top:30px;
	margin-left:350px;
	width:800px;
}

table#mypageMainTable{
	/* border:1px solid black; */
	border-collapse:collapse;
	width:700px;
}

table#mypageMainTable tr{
	height:40px;
	border-bottom: 1px solid black;
}

table#mypageMainTable th{
	width:150px;
	text-align:center;
}

table#mypageMainTable td{
	text-align:center;
}

.mypageHeaderDiv{
	width:680px;
	padding:10px;
	background-color:rgb(176,196,222);
	margin-bottom:15px;
	margin-top:15px;
	cursor:pointer;
}

#mypagePayTable table{
	border-collapse:collapse;
	width:700px;
}

#mypagePayTable table tr{
	height:40px;
	
	
}

#mypagePayTable table td{
	text-align:center;
	border-bottom: 1px solid black;
}

.mypageHeaderBtn{
	float:right;
}

#mypageUseTable table{
	border-collapse:collapse;
	width:700px;
	/* border:1px solid black; */
}



#mypageUseTable table td{
	height:40px;
	width:150px;
	border-bottom: 1px solid black;
	text-align:center;
}

.pageBar{
	text-align:center;
	width:700px;
}

.pageBar2{
	text-align:center;
	width:700px;
}

a{
	text-decoration:none;
}