body{
   width: 1366px;
}

#eventListDiv{
   width: 1000px;
   height: 700px;
   text-align: center;
   margin-top: 70px;
}

#eventHead{
   color: #5e64b1;
   margin-bottom: 40px;
   font-size: 40px;
   font-weight: bolder;
}

#eventWriteBtn{
   background-color: #5e64b1;
   color: white;
   border-radius: 5px;
   height: 30px;
   font-size: 18px;
   text-align: left;
   font-weight: bolder;
   margin-left: 850px;
   margin-bottom: 5px;
}

.hr{
   margin-bottom: 30px; 
   margin-top: 30px;
}

thead>tr>th{
   border-bottom: 1px solid #e6e8eb;
}

tbody>tr>td{
   padding: 10px 7px;
   border-bottom: 1px solid #e6e8eb;
}

section{
    position: relative;
}

.innerContent{
   color: #ff7531;   
}

.innerContent:hover{
   cursor: pointer;
}

