.input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    margin: 15px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

#login {
    text-align: center;
}

/* �뿆�뫁�꺖甕곌쑵�뱣 占쎈뮞占쏙옙占쎌뵬 */
.buttonStyle{
    width: 150px;
    height: 40px;
    background-color: tomato;
    font-size: 17px;
    border: none;
    color: white;
}

/* 嚥≪뮄�젃占쎌뵥 甕곌쑵�뱣 占쎈뮞占쏙옙占쎌뵬 */
#loginBtn{
    background-color: rgb(94, 100, 177);
    font-size: 17px;
    color: white;
}

/* 占쎌돳占쎌뜚揶쏉옙占쎌뿯 / �④쑴�젟筌≪뼐由� 筌띾뜆�뒭占쎈뮞 占쎌궞�뵳�됥늺 獄쏅쵐夷� */
.link:hover{
    text-decoration: underline;
}

.link{
    text-decoration: none;
    float: left;
    color: gray;
}

b{
    float: left;
}

#msg{
    display: inline-block;
}


hr {
    border: 1px solid rgb(94, 100, 177);
    margin-bottom: 5%;
    margin-top: 3%;
}

#inputData{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}


/* 筌뤴뫀�뼎筌∽옙 獄쏄퀗瑗� */
.modal {
    /* 占쎈떜野꺿뫀�꼦疫뀐옙 */
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 占쎈뮞占쎄쾿嚥∽옙 占쎌쁽占쎈짗 */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* 筌뤴뫀�뼎筌∽옙 �굜�꼹�쀯옙�뱜 占쎈뮞占쏙옙占쎌뵬 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    /* 占쎈퉸占쎄맒占쎈즲 占쎈툧筌띿쉸�뼚�걡占� */
    height: 450px;
    width: 350px;
    top: 150px;
    padding-top: 15px;
}


/* openLogin */
#openLogin {
    width: 1366px;
}

#openLogout{
	width: 1366px;
}

.checkBox{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 10px
}

.logoutBtn{
	position: absolute;
    float:right;
    left: 1150px;
    cursor: pointer;
}